# PyInstaller
build/
dist/
*.spec.bak

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
311venv/
*venv/

# Build log
build_log.txt

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
